@model Introducao.Models.Usuario

@{
    ViewBag.Title = "Resultado";
}

<h2>Resultado</h2>
<h1>Bem vindo @Model.Nome</h1>
<fieldset>
    <legend> Dados do usuário para confirmação </legend>
</fieldset>
<div class="editor-label">
    @Html.DisplayNameFor(x => x.Nome)
</div>
<div class="editor-field">
    @Html.DisplayFor(x => x.Nome)
</div>
<div class="editor-label">
    @Html.DisplayNameFor(x => x.Login)
</div>
<div class="editor-field">
    @Html.DisplayFor(x => x.Login)
</div>
<div class="editor-label">
    @Html.DisplayNameFor(x=> x.Senha)
</div>
<div class="editor-field">
    @Html.DisplayFor(x=>x.Senha)
</div>
<div class="editor-label">
    @Html.DisplayNameFor(x=>x.Senha)
</div>
<div class="editor-field">
    @Html.DisplayFor(x=>x.Senha)
</div>
<div class="editor-label">
    @Html.DisplayNameFor(x=>x.Observacoes)
</div>
<div class="editor-field">
    @Html.DisplayFor(x=>x.Observacoes)
</div>
<p>@Html.ActionLink("Voltar","Usuario")</p>

